


/* -------NavBar----------- */
.logo {
    width: 130px;
    height: 80px;
    margin: 0px;
    padding: 0;
}

#nav-color {
    background-color: #e0e0e0;
}

.searchbutton-color {
    color: #e0e0e0;
    background-color: #D30C7B;
    border-color: #08415c;
}


/* -------Body----------- */
.body-color {
    max-width: max-content;
    height: 100px;
    color: #e0e0e0;
}


/*---------------------------------------------------Footer */

footer{
    background-color: #08415C;
    height: 80px;
    padding: 20px;
    
}

.footer-color a{
    text-decoration: none;
    color: #e0e0e0;
    padding-right: 15px;
    font-size: larger;
    
}

.footer-color a:hover {
    color: #D30C7B;
}

/*---------------------------------------------------Footer icons*/

#social-networks {
    display: flex;
    justify-content: space-evenly;
    /* Remove bullet points */
    list-style: none;
   }

  
i {
    font-size: 30px;
    color: #e0e0e0;
}


i:hover {
    color: #D30C7B;
}