


/* -------NavBar----------- */
.logo {
    width: 130px;
    height: 80px;
    margin: 0px;
    padding: 0;
}

#nav-color  {
    background-color: #e0e0e0;
}

.searchbutton-color {
    color: #e0e0e0;
    background-color: #D30C7B;
    border-color: #08415c;
}


/* -------Body----------- */
.body-color {
    max-width: max-content;
    height: 100px;
    color: #e0e0e0;
}

