@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
*,
*::before, 
*::after{
    max-width: 1400px;
    padding: 0;
    margin: 0;
  }

  html {
    height: 100%;
    width: 100%;
    margin-top: 120px;
    position: absolute;
  }

  /* -------Font----------- */
  
  h1 {
    font-family: 'ultra';
    color: #08415C;
  }
  
  
  
  h2,
  h3 {
    font-family: 'ultra';
    font-weight: 300;
    font-size: large;
    color: #08415C;
  }

p {
    font-family: "PT+Serif";
    font-weight: 400;
    color: #08415C;
}
  /* -------NavBar----------- */
.logo {
    width: 130px;
    height: 80px;
    margin: 0px;
    padding: 0;
}

#nav-color {
    background-color:#e0e0e0;
}

.button-color {
    color: #e0e0e0;
    background-color: #D30C7B;
    border-color: #08415c;
}


/* ------------Video homepage---------- */
.ratio {
    margin-bottom: 40px;
}

/*---------------------------------------------------Footer */

footer{
    background-color: #08415C;
    height: 80px; 
}

.footer-color a{
    text-decoration: none;
    color: #e0e0e0;
    padding-right: 15px;
}

.footer-color a:hover {
    color: #D30C7B;
}

i {
    font-size: 30px;
    color: #e0e0e0;
    padding: 5px;
}


li i:hover {
    color: #D30C7B;
}

#social-networks {
    display: flex;
    justify-content: center;
    /* Removes bullet points */
    list-style: none;
    padding: 0;
   }


   /* -----body------- */

   body {
    height: 800px;
    background-color: #e0e0e0;
   }

/*---------------------------------------------------About US */
   .form-control{
    margin-top: 5px;
    font-family: "PT+Serif";
      
   }

   .btnF{
   margin: 10px;
    background-color: #D30C7B;
   }

   #map{
    margin-top: 50px;
   }

   .icons{
    color: #D30C7B;
   }
  
   /*---------------------------------------------------Child Protection */
   .childp-img {
    margin: 30px;
    border-radius: 20px 20px 20px 20px;
    /* width: 100%; */
    position: relative;
   }

