/* * {
    margin: 0;
    padding: 0;
} */

.logo {
    width: 180px;
    height: 180px;
    margin-top: -20px;
    padding: 0;
}

#nav-color {
    background-color: #e0e0e0;
}

.body-color {
    max-width: max-content;
    height: 100px;
    color: #e0e0e0;
}


/*---------------------------------------------------Footer */

footer{
    background-color: #08415C;
    height: 80px;
    padding: 20px;
    
}

.footer-color a{
    text-decoration: none;
    color: #e0e0e0;
}

.footer-color a:hover {
    color: #D30C7B;
}

/*---------------------------------------------------Footer icons*/

#social-networks {
    display: flex;
    justify-content: space-evenly;
    /* Remove bullet points */
    list-style: none;
   }

  
i {
    font-size: 30px;
    color: #e0e0e0;
}


i:hover {
    color: #D30C7B;
}